<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716562936178-dr7rskgkqh2al20u4527rsdfmv1i5aue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716562936178-dr7rskgkqh2al20u4527rsdfmv1i5aue</string>
	<key>API_KEY</key>
	<string>AIzaSyCgMkmpsnUK3k0MoWL64NyFnfGDBk_t1xE</string>
	<key>GCM_SENDER_ID</key>
	<string>716562936178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lovelyrk</string>
	<key>PROJECT_ID</key>
	<string>lovex-36bd2</string>
	<key>STORAGE_BUCKET</key>
	<string>lovex-36bd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716562936178:ios:7a694aee286e8cae4d6deb</string>
</dict>
</plist>